body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.menu{
    width: 1100px;
    margin: 0 auto;
}

.content{
    width: 100%;
    margin: 15px auto;
}

.table{
    overflow: auto;
    max-height: 600px;
}

.poll_title{
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.arrow > a{
    color: black;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#badge{
    margin-left: 10px;
}

.pollContent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.icerik{
    display: flex;
    align-items: center;
    height: 50px;
}

.ant-radio-group{
    font-size: 20px;
}

.votesDetail{
    text-align: center;
    margin-left: 10px;
}

.voteButton{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}